div.banner
  .filter
    .container
      h1.banner__title Mvix Xhibit Systems
      h3.banner__subtitle Xhibit digital signage systems are enterprise-grade, networkable digital signage players that come fully loaded with a centralized, web-based, content management software (CMS), XhibitSignage.
