section.catalog
  .container
    .catalog__map
      a.map__item(href="#") My Area /
      a.map__item(href="#") Submit a Ticket /
    .catalog__list
      h3.catalog__title Articles
      a.catalog__subtitle-mob(href="#")
        +icon("filter", "catalog__subtitle-icon")
        span.list__link(href="#") Filters
      .list
        .list__item
          p.list__title
            a.list__link.list__title(href="#") How Do I Use The Feeds Content App?
          ul.list__content
            li 
              a.list__link(href="#") 116 Views
            li
              a.list__link(href="#") Apr 9, 2020
            li
              a.list__link(href="#") Knowledge
        .list__item
          p.list__title
            a.list__link.list__title(href="#") How Do I Use The Feeds Content App?
          ul.list__content
            li 
              a.list__link(href="#") 116 Views
            li
              a.list__link(href="#") Apr 9, 2020
            li
              a.list__link(href="#") Knowledge
        .list__item
          p.list__title
            a.list__link.list__title(href="#") How Do I Use The Feeds Content App?
          ul.list__content
            li 
              a.list__link(href="#") 116 Views
            li
              a.list__link(href="#") Apr 9, 2020
            li
              a.list__link(href="#") Knowledge
        .list__item
          p.list__title
            a.list__link.list__title(href="#") How Do I Manage My Devices And Device Groups Using XhibitSignage.com?
          ul.list__content
            li 
              a.list__link(href="#") 116 Views
            li
              a.list__link(href="#") Apr 9, 2020
            li
              a.list__link(href="#") Knowledge
        .list__item
          p.list__title
            a.list__link.list__title(href="#") How Do I Use The Feeds Content App?
          ul.list__content
            li 
              a.list__link(href="#") 116 Views
            li
              a.list__link(href="#") Apr 9, 2020
            li
              a.list__link(href="#") Knowledge
        .list__item
          p.list__title
            a.list__link.list__title(href="#") How Do I Use The Feeds Content App?
          ul.list__content
            li 
              a.list__link(href="#") 116 Views
            li
              a.list__link(href="#") Apr 9, 2020
            li
              a.list__link(href="#") Knowledge
        .list__item
          p.list__title
            a.list__link.list__title(href="#") How Do I Use The Feeds Content App?
          ul.list__content
            li 
              a.list__link(href="#") 116 Views
            li
              a.list__link(href="#") Apr 9, 2020
            li
              a.list__link(href="#") Knowledge
        .list__item
          p.list__title
            a.list__link.list__title(href="#") How Do I Use The Feeds Content App?
          ul.list__content
            li 
              a.list__link(href="#") 116 Views
            li
              a.list__link(href="#") Apr 9, 2020
            li
              a.list__link(href="#") Knowledge
    .catalog__themes
      h3.themes__title Client Success
      .themes__item
        +icon("files", "themes__icon")
        a.themes__link(href="#") Getting Started
      .themes__item
        +icon("files", "themes__icon")
        a.themes__link(href="#") Technical Support
      .themes__item
        +icon("files", "themes__icon")
        a.themes__link(href="#") Ordering & Shipping
      .themes__item.active
        +icon("files", "themes__icon")
        a.themes__link(href="#") Warranty & Returns
      .themes__item
        +icon("files", "themes__icon")
        a.themes__link(href="#") XhibitSignage Software
      .themes__item
        +icon("files", "themes__icon")
        a.themes__link(href="#") Mvix Xhibit Systems
      .themes__item
        +icon("files", "themes__icon")
        a.themes__link(href="#") Mvix Flex Systems
      .themes__item
        +icon("files", "themes__icon")
        a.themes__link(href="#") Content Apps
    .catalog__pg.pagination.pagination--center
      a.prev.page-numbers(href="#")
        +icon("arrow", "fas fa-angle-right")
      span.page-numbers.current(aria-current="page") 1
      a.page-numbers(href="#") 2
      a.page-numbers(href="#") 3
      a.page-numbers(href="#") 4
      a.page-numbers(href="#") 5
      a.prev.page-numbers(href="#")
        +icon("arrow", "fas fa-angle-right")
