footer.footer
  .container
    p.footer__copyright © Mvix(USA), Inc. All rights reserved.
    nav.footer__nav
      a.footer__link(href="#") Privacy Policy
      a.footer__link(href="#") Terms and Conditions
      a.footer__link(href="#") Brand Guidelines
