.container
  .search
    +icon("search", "serach__icon")
    input.search__pole(type="text" placeholder="Ask a question ...")
    button.search__btn search
  .search-ticket
    a.promo__btn.search-ticket__btn(href="#") Open a Ticket
