.warning
  .container
    +icon("alarm", "warning__alarm")
    p.warning__content We have moved our Client Success agents to work-from-home set-ups as part of the effort to “flatten-the-curve” and reduce the impact of COVID-19. While there might be delays in response times, rest assured that we remain committed and available to deliver product and service updates to you through all our available channels. This message will be updated as the situation changes.
