.articles
  .container
    h3.articles__title Featured Articles
    .articles__split
    .articles__content
      .aricles__item.article
        +icon("doc", "article__icon")
        span.article__title-container
          a.article__title(href="#") How Can I Return The Product?
        +icon("view", "view__icon")
        span.article__view 10000
        span.article__date Apr 9, 2020
      
      .aricles__item.article
        +icon("doc", "article__icon")
        span.article__title-container
          a.article__title(href="#") How Can I Return The Product?
        +icon("view", "view__icon")
        span.article__view 10000
        span.article__date Apr 9, 2020
      
      .aricles__item.article
        +icon("doc", "article__icon")
        span.article__title-container
          a.article__title(href="#") How Can I Return The Product?
        +icon("view", "view__icon")
        span.article__view 10000
        span.article__date Apr 9, 2020
      
      .aricles__item.article
        +icon("doc", "article__icon")
        +icon("view", "view__icon")
        span.article__title-container
          a.article__title(href="#") How Can I Return The Product?
        span.article__view 10000
        span.article__date Apr 9, 2020
      
      .aricles__item.article
        +icon("doc", "article__icon")
        +icon("view", "view__icon")
        span.article__title-container
          a.article__title(href="#") How Can I Return The Product?
        span.article__view 10000
        span.article__date Apr 9, 2020
      
      .aricles__item.article
        +icon("doc", "article__icon")
        +icon("view", "view__icon")
        span.article__title-container
          a.article__title(href="#") How Can I Return The Product?
        span.article__view 10000
        span.article__date Apr 9, 2020
      
