section.categories
  .promo
    .container
      a.promo__btn ") Open a Ticket
      p.promo__descr <b>Problems, Questions, Corrections:</b>If you have any further questions, problems, or corrections you would like to see made, please open a support ticket.
      +icon("x")
  .container
    .categories__item.category.active
      span.category__label new
      a.category__title Active
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      +icon("atom", "category__icon-mob")
      .category__split
      .category__descr-container
        a.category__descr(href="#") 6 Articles
      .category__descr-container-left
        a.category__descr(href="#") 4 Sections
      
    .categories__item.category
      span.category__label new
      a.category__title Getting Started
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      +icon("atom", "category__icon-mob")
      .category__split
      .category__descr-container
        a.category__descr(href="#") 6 Articles
      .category__descr-container-left
        a.category__descr(href="#") 4 Sections
  
    .categories__item.category
      span.category__label new
      a.category__title Technical Support
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      +icon("atom", "category__icon-mob")
      .category__split
      .category__descr-container
        a.category__descr(href="#") 6 Articles
      .category__descr-container-left
        a.category__descr(href="#") 4 Sections
  
    .categories__item.category
      span.category__label new
      a.category__title Ordering & Shipping
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      +icon("atom", "category__icon-mob")
      .category__split
      .category__descr-container
        a.category__descr(href="#") 6 Articles
      .category__descr-container-left
        a.category__descr(href="#") 4 Sections
  
    .categories__item.category
      span.category__label new
      a.category__title Warranty & Returns
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      +icon("atom", "category__icon-mob")
      .category__split
      .category__descr-container
        a.category__descr(href="#") 6 Articles
      .category__descr-container-left
        a.category__descr(href="#") 4 Sections
  
    .categories__item.category
      span.category__label new
      a.category__title XhibitSignage Software
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      +icon("atom", "category__icon-mob")
      .category__split
      .category__descr-container
        a.category__descr(href="#") 6 Articles
      .category__descr-container-left
        a.category__descr(href="#") 4 Sections
  
    .categories__item.category
      span.category__label new
      a.category__title Mvix Xhibit Systems
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      +icon("atom", "category__icon-mob")
      .category__split
      .category__descr-container
        a.category__descr(href="#")  6 Articles
      .category__descr-container-left
        a.category__descr(href="#") 4 Sections
    
    .categories__item.category.active
      span.category__label new
      a.category__title Active
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      +icon("atom", "category__icon-mob")
      .category__split
      .category__descr-container
        a.category__descr(href="#") 6 Articles
      .category__descr-container-left
        a.category__descr(href="#") 4 Sections
