section.categories
  .promo
    .container
      a.promo__btn(href="#") Open a Ticket
      p.promo__descr <b>Problems, Questions, Corrections:</b>If you have any further questions, problems, or corrections you would like to see made, please open a support ticket.
      +icon("x")
  .container
    .categories__item.category.active
      span.category__label new
      h3.category__title Active
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      +icon("atom", "category__icon-mob")
      .category__split
      span.category__descr 6 Articles
      span.category__descr.category__descr-left 4 Sections
      
    .categories__item.category
      span.category__label new
      h3.category__title Getting Started
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      +icon("atom", "category__icon-mob")
      .category__split
      span.category__descr 6 Articles
      span.category__descr.category__descr-left 4 Sections
  
    .categories__item.category
      span.category__label new
      h3.category__title Technical Support
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      +icon("atom", "category__icon-mob")
      .category__split
      span.category__descr 6 Articles
      span.category__descr.category__descr-left 4 Sections
  
    .categories__item.category
      span.category__label new
      h3.category__title Ordering & Shipping
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      +icon("atom", "category__icon-mob")
      .category__split
      span.category__descr 6 Articles
      span.category__descr.category__descr-left 4 Sections
  
    .categories__item.category
      span.category__label new
      h3.category__title Warranty & Returns
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      +icon("atom", "category__icon-mob")
      .category__split
      span.category__descr 6 Articles
      span.category__descr.category__descr-left 4 Sections
  
    .categories__item.category
      span.category__label new
      h3.category__title XhibitSignage Software
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      +icon("atom", "category__icon-mob")
      .category__split
      span.category__descr 6 Articles
      span.category__descr.category__descr-left 4 Sections
  
    .categories__item.category
      span.category__label new
      h3.category__title Mvix Xhibit Systems
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      +icon("atom", "category__icon-mob")
      .category__split
      span.category__descr 6 Articles
      span.category__descr.category__descr-left 4 Sections
    
    .categories__item.category.active
      span.category__label new
      h3.category__title Active
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      +icon("atom", "category__icon-mob")
      .category__split
      span.category__descr 6 Articles
      span.category__descr.category__descr-left 4 Sections
