section.categories
  .container
    .ctegories__item.category
      span.category__label new
      h3.category__title Getting Started
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      .category__split
      span.category__descr 6 Articles
      span.category__descr.category__descr-left 4 Sections
  
    .ctegories__item.category
      span.category__label new
      h3.category__title Technical Support
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      .category__split
      span.category__descr 6 Articles
      span.category__descr.category__descr-left 4 Sections
  
    .ctegories__item.category
      span.category__label new
      h3.category__title Ordering & Shipping
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      .category__split
      span.category__descr 6 Articles
      span.category__descr.category__descr-left 4 Sections
  
    .ctegories__item.category
      span.category__label new
      h3.category__title Warranty & Returns
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      .category__split
      span.category__descr 6 Articles
      span.category__descr.category__descr-left 4 Sections
  
    .ctegories__item.category
      span.category__label new
      h3.category__title XhibitSignage Software
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      .category__split
      span.category__descr 6 Articles
      span.category__descr.category__descr-left 4 Sections
  
    .ctegories__item.category
      span.category__label new
      h3.category__title Mvix Xhibit Systems
      p.category__info A place where you can easily find solutions and ask questions. We are here to help ...
      +icon("get_started", "category__icon")
      .category__split
      span.category__descr 6 Articles
      span.category__descr.category__descr-left 4 Sections
  
