.testimonials
  .container
    h2.testimonials__title What Our <span>clients</span> Say
    p.testimonials__subtitle We always strive to make our customers happy! Check out they have to say about our digital signage solutions:
  .glide
    ul.glide__track(data-glide-el="track")
      .glide__slides
        .testimonials__item.testimonial.glide__slide
            span.testimonial__quote “
            img.testimonial__icon(src="./img/testimonial.svg")
            q.testimonial__content I think that if everyone had Mvix digital signage, they'd have an elegant and finessed system.
            span.testimonial__name Keith Pyatt
            cite.testimonial__cite Manager of Digital Media & Technology | Grounds For Sculptur
        .testimonials__item.testimonial.glide__slide
            span.testimonial__quote “
            img.testimonial__icon(src="./img/testimonial.svg")
            q.testimonial__content I think that if everyone had Mvix digital signage, they'd have an elegant and finessed system.
            span.testimonial__name Keith Pyatt
            cite.testimonial__cite Manager of Digital Media & Technology | Grounds For Sculptur
        .testimonials__item.testimonial.glide__slide
            span.testimonial__quote “
            img.testimonial__icon(src="./img/testimonial.svg")
            q.testimonial__content I think that if everyone had Mvix digital signage, they'd have an elegant and finessed system.
            span.testimonial__name Keith Pyatt
            cite.testimonial__cite Manager of Digital Media & Technology | Grounds For Sculptur
