
form.form.login__form
  h1.form__title SIGN IN
  h3.form__subtitle New user? <a href="#">Create an account</a>
  .form__item
    label.form__label.form__login(for="login") User Name
    input.form__input(type="text" placeholder="Lorem ipsum dolor sit amet" id="login")
    span.form__input-error User don’t exzist
  .form__item
    label.form__label.form__pass(for="password") Password
    input.form__input(type="text" placeholder="Lorem ipsum dolor sit amet" id="password")
    span.form__input-error User don’t exzist 
  .form__check
    label.switch(for="rememberMe")
      input(type="checkbox" id="rememberMe")
      span.slider.round
    label.form__check-content(for="rememberMe") Remember Me
  a.form__link.form__link-pass(href="#") Forget password?
  input.form__btn(type="submit" value="continue")
  nav.form__footer
    a.form__link Privacy Policy
    a.form__link Term & Conditions
    a.form__link About Mvix
  p.form__notice If you have any e-Learning queries, please feel free to contact the e-Learning team on <a href="#" class="form__link">+1 866.310.4923</a> or alternatively email us on <a href="#" class="form__link">support.mvixusa.com</a>
