.banner {
  background: url("../img/shutterstock_309194747.jpg");
  background-size: cover;

  @include media-es {
    background: url("../img/shutterstock_79336345.jpg");
    background-size: cover;
  }

  @include media-s {
    background: url("../img/shutterstock_79336345.jpg");
    background-size: cover;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    font-weight: bold;
    font-size: 56px;
    font-family: "Montserrat", sans-serif;
    color: $bg;
    line-height: 80px;
    margin: 0;
    margin-top: 20px;
    text-transform: uppercase;

    span {
      color: $yellow;
    }

    @include media-es {
      font-size: 32px;
      line-height: 40px;
      width: 70%;
    }

    @include media-s {
      font-size: 40px;
      line-height: 1.25em;
      width: 70%;
    }
  }

  &__subtitle {
    font-size: 32px;
    color: $bg;
    margin: 0;

    @include media-es {
      font-size: 15px;
    }

    @include media-s {
      font-size: 22px;
    }
  }
}

.filter {
  background: rgba(1, 24, 117, 0.8);
  padding: 115px 0 240px;

  @include media-es {
    padding: 33px 0 203px;
  }

  @include media-s {
    padding: 100px 0 200px;
  }
}
