.banner-img {
  @include media-es {
    background: url("../img/shutterstock_79336345.jpg");
    background-size: cover;
  }

  @include media-s {
    background: url("../img/shutterstock_79336345.jpg");
    background-size: cover;
  }

  @include media-m {
    background: url("../img/shutterstock_309194747.jpg");
    background-size: cover;
  }
}
