.categories {
  display: grid;
  grid-template-areas: "p" "c";
  grid-template-columns: 1fr;
  grid-template-rows: 160px 1fr;
  gap: 50px;
  padding-bottom: 111px;

  @include media-es {
    grid-template-areas: "c" "p";
    grid-template-rows: 1fr auto;
  }

  @include media-s {
    grid-template-areas: "c" "p";
    grid-template-rows: 1fr auto;
  }

  @include media-m {
    grid-template-areas: "p" "c";
    grid-template-rows: auto 1fr;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 52px;

    @include media-es {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    @include media-s {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 25px;
    }

    @include media-l {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 25px;
    }
  }
}

.promo {
  background-color: $deepBlue;
  padding: 48px 0;
  position: relative;
  line-height: 32px;
  grid-area: p;

  @include media-es {
    padding: 32px 0 28px;
  }

  @include media-s {
    padding: 32px 0 28px;
  }

  @include media-s {
    padding: 25px 0;
  }

  .container {
    display: grid;
    grid-template-columns: 392px 1fr;
    grid-template-rows: 1fr;
    gap: 56px;
    grid-area: c;

    @include media-es {
      grid-template-columns: 1fr;
    }

    @include media-s {
      grid-template-columns: 1fr;
    }

    @include media-m {
      grid-template-columns: 180px 1fr;
      gap: 35px;
    }

    @include media-l {
      grid-template-columns: 392px 1fr;
      gap: 56px;
    }
  }

  &__btn {
    border-radius: 32px;
    padding: 18px 107px 14px;
    text-align: center;
    background: $oyGrad;
    text-decoration: none;
    color: $bg;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;

    @include media-es {
      padding: 18px 0 14px;
    }

    @include media-s {
      padding: 18px 0 14px;
    }

    @include media-m {
      font-size: 18px;
    }

    &:hover {
      background-color: $bvGrad;
      transition: all .7s linear;
    }
  }

  &__descr {
    margin: 0;
    font-size: 21px;
    color: $bg;

    @include media-es {
      display: none;
    }

    @include media-s {
      display: none;
    }

    @include media-m {
      display: block;
      font-size: 16px;
    }
  }
}

.icon-x {
  color: $bg;
  position: absolute;
  top: 45%;
  transform: translate(-50%, 0);
  right: 3.75%;
  background: url("../img/sprite/sprite.svg#x");

  &:hover {
    cursor: pointer;
  }

  @include media-es {
    display: none;
  }

  @include media-s {
    display: none;
  }

  @include media-m {
    display: block;
    right: 2.25%;
  }
}

.category {
  display: grid;
  grid-template-columns: 160px 130px;
  grid-template-rows: 26px 32px 41px 110px 44px 1px 16px;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: $deepBlue;
  padding: 25px 30px;
  border-radius: 16px;
  background-color: $bg;
  box-shadow: 0px 32px 64px rgba(37, 37, 37, 0.04);
  transition: all .7s;

  @include media-es {
    grid-column: 1/3;
    display: none;
    grid-template-columns: 45% 50%;
    grid-template-rows: 26px 32px 41px 130px 44px 1px 16px;

    &:nth-child(1) {
      display: grid;
    }

    &:nth-child(2) {
      display: grid;
    }
  }

  @include media-s {
    display: none;
    grid-template-columns: 40% 55%;
    grid-template-rows: 26px 32px 23px 130px 44px 1px 16px;

    &:nth-child(1) {
      display: grid;
    }

    &:nth-child(2) {
      display: grid;
    }

    &:nth-child(3) {
      display: grid;
    }

    &:nth-child(4) {
      display: grid;
    }
  }

  @include media-l {
    display: grid;
    grid-template-columns: 160px 130px;
    grid-template-rows: 20px 45px 20px 130px 44px 1px 16px;
  }

  &:hover{
    box-shadow: 0px 0 10px rgba(137, 137, 137, .9);
  }

  &__label {
    grid-column: 1/3;
    grid-row: 1;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 300;
    color: $pink;

    @include media-s {
      font-size: 13px;
    }
  }

  &__title {
    grid-column: 1/3;
    grid-row: 2;
    font-weight: bold;
    font-size: 23px;
    margin: 0;

    @include media-s {
      font-size: 18px;
    }

    @include media-l {
      font-size: 23px;
    }
  }

  &__info {
    grid-column: 1/2;
    grid-row: 4;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-family: "Nunito Sans", sans-serif;

    @include media-s {
      font-size: 11px;
    }

    @include media-l {
      font-size: 14px;
    }
  }

  &__icon {
    grid-column: 2/3;
    grid-row: 4;
  }

  &__split {
    border: 1px solid $deepBlue;
    width: 100%;
    grid-column: 1/3;
    grid-row: 5;
  }

  &__descr {
    grid-column: 1;
    grid-row: 6;
    font-size: 12px;
    font-family: "Nunito Sans", sans-serif;

    &-left {
      grid-column: 2;
      text-align: right;
    }
  }
}
