.ticket-submit {
  margin-bottom: 30px;
  color: $deepBlue;
  font-family: "Montserrat", sans-serif;
  padding-top: 22px;

  .container {
    display: grid;
    grid-template-rows: 60px 80px 1fr;
    grid-template-columns: 1fr;
  }

  &__map {
    grid-column: 1/3;
    margin-bottom: 30px;
  }

  &__title {
    grid-column: 1/2;
    margin: 0;
    text-transform: uppercase;
    font-size: 44px;
    line-height: 1.27em;
    font-weight: bold;
    margin-bottom: 34px;

    @include media-es {
       font-size: 28px;
    }

    @include media-s {
      font-size: 32px;
    }

    @include media-m {
      font-size: 44px;
    }
  }

  &__information {
    grid-column: 1/2;
  }

  &__subtitle {
    grid-column: 1/3;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.83em;
    font-weight: bold;
    margin: 0;
    border-bottom: 1px solid $deepBlue;
    padding-bottom: 10px;
    margin-bottom: 20px;

    @include media-es {
      grid-column: 1;
      margin: 0;
      font-size: 14px;
    }

    @include media-s {
      grid-column: 1;
      font-size: 20px;
    }

    @include media-m {
      grid-column: 1/3;
      font-size: 24px;
    }
  }

  &__submit {
    grid-column: 2;
    grid-row: 9;
    text-align: center;

    @include media-es {
      grid-column: 1;
      grid-row: auto;
    }

    @include media-s {
      grid-column: 1;
      text-align: center;
      grid-row: auto;
    }

    @include media-m {
      grid-column: 2;
      text-align: center;
      grid-row: auto;
    }
  }

  &__btn {
    background: $bvGrad;
    border-radius: 32px;
    font-weight: bold;
    font-size: 23px;
    line-height: 1.39em;
    text-transform: uppercase;
    color: $bg;
    border: none;
    padding: 10px 136px;
    margin-right: 80px;

    &:hover {
      background: $oyGrad;
    }

    @include media-es {
      display: block;
      margin: 0 auto;
      padding: 10px 86px;
      margin-bottom: 20px;
    }

    @include media-s {
      display: block;
      margin: 0 auto;
      padding: 10px 86px;
      margin-bottom: 20px;
    }

    @include media-m {
      display: inline;
      padding: 10px 136px;
      margin: 0;
      margin-right: 80px;
    }
  }

  &__link {
    font-size: 21px;
    line-height: 1.53em;
    text-align: center;
    color: $deepBlue;
  }
}

.information {

  &__ticket {
    display: grid;

    @include media-es {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 120px) 250px 120px 70px 120px 120px 70px 230px 100px;
      grid-column-gap: 0;
    }

    @include media-s {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 120px) 250px 120px 70px 120px 120px 70px 230px 100px;
      grid-column-gap: 0;
    }

    @include media-m {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 120px) 250px 120px 70px 120px 120px 70px 230px 100px;
      grid-column-gap: 0;
    }

    @include media-l {
      grid-template-columns: 50% 50%;
      grid-template-rows: repeat(7, 120px) 224px 120px;
      grid-column-gap: 5%;
    }
  }

  &__item {
    font-size: 17px;
    line-height: 1.53em;
    font-weight: bold;
    a {
      &:hover {
        color: $deepBlue;
        transition: all .3s;

        span {
          background: -webkit-linear-gradient(256.23deg, #EA8537 0%, #EFC02E 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all .3s;
        }
      }

      &:visited {
        color: $deepBlue;
      }
    }
    &-file {
      cursor: pointer;

      input {
        opacity: 0;
         position: absolute;
         z-index: -1;
      }

      span {
        display: block;
      }
    }

    @include media-es {
      font-size: 12px;
    }

    @include media-s {
      font-size: 15px;
    }

    @include media-m {
      font-size: 17px;
    }
  }

  &__pole {
    box-shadow: 0px 4px 16px rgba(1, 24, 117, 0.08), 0px -4px 16px rgba(255, 255, 255, 0.2);
    border-radius: 32px;
    padding: 15px 32px;
    font-family: "nunito Sans", sans-serif;
    border: none;
    width: 100%;
    font-size: 17px;
    line-height: 1.53em;
    margin-top: 10px;
    color: $deepBlue;
    outline: none;

    &:hover {
      box-shadow: 0px 0 10px rgba(137, 137, 137, .9);
    }


    &-area {
      resize: none;
      height: 176px;

      @include media-es {
        grid-row: 5;
      }
    }

    &-select {
      background: $bg;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url(../img/select_arrow.svg) 94% / 3% no-repeat;
    }

    &-error {
      font-size: 12px;
      line-height: 1.42;
      color: $pink;
      font-weight: normal;
      padding-left: 33px;
    }

    @include media-es {
      font-size: 12px;
    }

    @include media-s {
      font-size: 15px;
    }

    @include media-m {
      font-size: 17px;
    }
  }
}

.file {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid $deepBlue;
  margin-bottom: 60px;
  grid-column: 1/3;

  &__icon {
    display: block;
    text-align: center;
    height: 96px;
    width: 96px;
    padding: 40px;
    margin-left: 10px;
    border-radius: 50%;
    background: $bg;
    box-shadow: 0px 4px 16px rgba(1, 24, 117, 0.08), 0px -4px 16px rgba(255, 255, 255, 0.2);
    cursor: pointer;

    &:hover {
      background: $deepBlue;
      color: $bg;
      box-shadow: 0px 0 10px rgba(137, 137, 137, .9);
    }
  }

  @include media-es {
  grid-column: 1;
  }

  @include media-s {
  grid-column: 1;
  }

  @include media-m {
  grid-column: 1/3;
  }
}
