.title {
  padding: 109px 0 0px;

  @include media-es {
    display: none;
  }

  &-mob {
    display: none;
    padding: 55px 0 0;

    @include media-es {
      display: block;
    }

    .container {
      @include media-es {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__text {
    color: $deepBlue;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;

    @include media-es {
      text-transform: none;
      font-size: 24px;
      text-align: center;
    }

    span {
      color: $blue;
    }
  }

  &__subtitle {
    margin: 0;
    font-size: 15px;
    color: $deepBlue;
    font-weight: normal;
    text-align: center;
    margin-bottom: 40px;
  }

  .container {
    justify-content: center;
  }


}
