@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/@glidejs/glide/dist/css/glide.core.min.css";
@import "../../node_modules/@glidejs/glide/dist/css/glide.theme.min.css";

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: $grayBG;
    line-height: 1.53em;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    position: relative;

    &:hover {
      background: -webkit-linear-gradient(256.23deg, #EA8537 0%, #EFC02E 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
}

.icon{
  fill: currentColor;
}

.container {
  width: 1280px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include media-es {
    width: 88%;
  }

  @include media-s {
    width: 88%;
  }

  @include media-el {
    width: 1280px;
  }
}
