@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/@glidejs/glide/dist/css/glide.core.min.css";
@import "../../node_modules/@glidejs/glide/dist/css/glide.theme.min.css";

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: $grayBG;
    line-height: 1.53em;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color: lighten($deepBlue, 30%);
      visibility: hidden;
      transition: all 0.3s ease-in-out 0s;
      transform: scaleX(0);
    }

    &:hover {
      &:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
}

.icon{
  fill: currentColor;
}

.container {
  width: 1280px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include media-es {
    width: 88%;
  }

  @include media-s {
    width: 88%;
  }

  @include media-el {
    width: 1280px;
  }
}
