@import "../mixins/media";

.header {
  padding: 19px 0;
  border: 1px solid rgba(37, 37, 37, 0.2);

  @include media-es {
    display: none;
  }

  @include media-s {
    display: none;
  }

  @include media-l {
    display: block;
  }

  &-mob {
    display: none;
    position: relative;

    @include media-es {
      display: grid;
      padding: 40px 0 20px;
    }

    @include media-s {
      display: grid;
      padding: 40px 0 20px;
    }

    @include media-l {
      display: none;
    }
  }

  &__logo{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
  }

  &__nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 112px;
    gap: 50px;
    align-items: center;

    @include media-es {
      display: none;
    }

    @include media-s {
      display: none;
    }

    @include media-l {
      display: grid;
      gap: 25px;
    }

    &-mob {
      display: grid;
      background-color: $grayBG;
      color: $deepBlue;
      position: absolute;
      top: -300px;
      left: 0;
      z-index: 2;
      width: 100vw;
      padding: 40px 60px;
        grid-template-rows: 50px 50px 50px 50px;


      &.active {
        top: 92px;
        transition: top .7s;
      }
    }
  }

  &__link{
    font-size: 17px;
    color: $black;
    text-decoration: none;
    text-align: center;

    &:hover {
      color: $deepBlue;
      transition: all .7s;
    }

    &:visited {
      color: $deepBlue;
    }

    &-mob {
      text-align: center;
    }

    &-signin{
      color: $bg;
      padding: 10px 30px;
      background-color: $blue;
      border-radius: 20px;

      &:hover {
        background-color: $deepBlue;
        transition: all .7s;

        &:before {
          visibility: hidden;
        }
      }

      &-mob {
        width: 50%;
        padding: 13px 0 10px;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}

.logo{
  font-family: 'Montserrat', sans-serif;
  &__icon {
    padding-right: 24px;
    border-right: 1px solid #000;

    @include media-es {
      padding-right: 15px;
    }

    @include media-l {
      padding-right: 15px;
    }
  }
  &__desc{
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    margin-left: 24px;
    font-family: "Montserrat", sans-serif;

    @include media-es {
      margin-left: 15px;
    }

    @include media-l {
      font-size: 12px;
      margin-left: 15px;
    }

    & span {
      color: $blue;
      font-weight: bold;
      display: block;
    }
  }
}
