.search {
  padding: 16px 16px 16px 36px;
  width: 1024px;
  border-radius: 48px;
  background-color: $bg;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 96px 1fr 240px;
  align-items: center;
  margin-top: -48px;

  @include media-es {
    width: 88%;
    grid-template-columns: 10% 90%;
    padding: 19px 22px;
    margin-top: -32px;
  }

  @include media-s {
    width: 88%;
    grid-template-columns: 10% 1fr 25%;
    padding: 19px 22px;
    margin-top: -32px;
  }

  @include media-el {
    width: 1024px;
    grid-template-columns: 10% 1fr 25%;
    padding: 19px 22px;
    margin-top: -32px;
  }

  &__pole {
    border: none;
    font-size: 20px;
    color: rgba(37, 37, 37, 0.4);

    &:focus {
      outline: none;
    }
  }

  &__btn {
    border-radius: 32px;
    border: none;
    text-transform: uppercase;
    padding: 18px 0 14px;
    background-color: $bvGrad;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: $bg;
    box-shadow: 0px 4px 8px rgba(37, 37, 37, 0.1);
    transition: all .7s;

    @include media-es {
      display: none;
    }

    &:hover {
      cursor: pointer;
      background-color: $oyGrad;
    }
  }
}

.icon-search {
  color: $deepBlue;

  @include media-es {
    font-size: 16px;
    width: 16px;
  }

  @include media-s {
    font-size: 18px;
    width: 18px;
  }
}
