.warning {
  background: $opGrad;
  padding: 29px 0;
  line-height: 26px;

  & .container {

    @include media-es {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__content {
    color: $bg;
    width: 92.5%;
    font-size: 17px;
    margin: 0;
    padding: 0 10px;
  }
  @include media-es {
    font-size: 14px;
  }
}

.icon-alarm {
  color: $bg;

  @include media-es {
    margin-bottom: 17px;
  }
}
