extends common/layout

block content
  main.main
    include includes/index/banner
    include common/search
    include includes/index/title
    include includes/index/categories
    include includes/index/articles
    include includes/index/testimonials
