// Mobile first
$mediaWidthES: 600px;
$mediaWidthM: 768px;
$mediaWidthL: 992px;
$mediaWidthEL: 1200px;

//Colors
$bg: #ffffff;
$grayBG: #F9F9FB;
$blue: #2275B4;
$deepBlue: #011875;
$black: #252525;
$purple: #60348D;
$pink: #ED1580;
$orange: #ea8537;
$yellow: #EFC02E;
$wildBlue: #6FCFF4;
$oyGrad: linear-gradient(259.76deg, #EA8537 0%, #EFC02E 100%);
$bvGrad: linear-gradient(86.95deg, #2275B4 0%, #60348D 100%);
$wnGrad: linear-gradient(94.86deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
$opGrad: linear-gradient(89.81deg, #EA8537 0%, #ED1580 100%);
