section.article-content
  .container
    .article-content__map.map
      .map__item-container
        a.map__item(href="#") Knowledge Base 
        span /
      .map__item-container
        a.map__item(href="#") XhibitSignage Software 
        span /
    .article-content__info.article-info
      .article-info__titles
        h1.article-info__title How Do I use the YouTube Content App?
        +icon("print", "article-info__icon")
        p.article-info__descr This content app allows you to display YouTube videos on your digital signage screen.
      .article-info__step
        h2.step__title What You'll Need
        span.step__item A compatible digital signage player e.g. Xhibit, BrightSign, etc.
          +icon("circle", "step__item-icon")
        span.step__item XhibitSignage Software with a supported feature package
          +icon("circle", "step__item-icon")
        span.step__item Internet Connectivity 
          +icon("circle", "step__item-icon")
        span.step__item Access to YouTube 
          +icon("circle", "step__item-icon")
      .article-info__step
        h2.step__title Using YouTube
        span.step__item Hover over the "MEDIA" menu item and click on "ADD MEDIA." 
          +icon("circle", "step__item-icon")
        span.step__item Click on the "WEB" category and select the "YouTube" app.  
          +icon("circle", "step__item-icon")
        span.step__item In the YouTube app, there is a selection of popular channels, as well as different categories of channels such as News, Sports, or Education. 
          +icon("circle", "step__item-icon")
        span.step__item Once you have selected a channel, click on the "PREVIEW" button to see a preview in the right hand box.  
          +icon("circle", "step__item-icon")
        span.step__item To add a custom YouTube video, playlist, or channel, click on the "heart" category. 
          +icon("circle", "step__item-icon")
        span.step__item For more information on how to paste your video, hover over the "YouTube Video ID" label. 
          +icon("circle", "step__item-icon")
        span.step__item For options to mute audio, click on the "ADVANCED SETTINGS" button circled in red. 
          +icon("circle", "step__item-icon")
        span.step__item You may also use the Closed Captions toggle to pull any Closed Captions/Subtitles from the video. *NOTE* Any video you would like to use subtitles on will need to have the Closed Captions created and set by the video creator. Please see here for additional information to create these Closed Captions.
          +icon("circle", "step__item-icon") 
        span.step__item Once you are satisfied with your content, you may name it within the "Name / Title" box 
          +icon("circle", "step__item-icon")
        span.step__item Then click on the green "SAVE" button to add your YouTube video to the media library
          +icon("circle", "step__item-icon")
      .article-info__tags
        h3.tags__title Tags:
        span.tags__item youtube
        span.tags__item content
        span.tags__item digital signage
      .article-info__footer
        .article-footer__rate
          h3.rate__title Helpful?
          a.rate__item
            +icon("like", "rate__icon")
            span.rate__item-like 1
          a.rate__item
            +icon("dislike", "rate__icon")
            span.rate__item-dislike 0
        span.article-footer__date Updated: 12 days ago
        .article-footer__share
          h3.share__title Share:
          a.share__link
            +icon("share_fb", "share__icon")
          a.share__link
            +icon("share_in", "share__icon")
          a.share__link
            +icon("share_tw", "share__icon")
    .article-content__related.sidebar
      h3.sidebar__title Related Articles
      .sidebar__item
        +icon("doc", "sidebar__icon")
        a(href="#").sidebar__link How Can I Return The Product?
      .sidebar__item
        +icon("doc", "sidebar__icon", "sidebar__icon")
        a(href="#").sidebar__link How Do I Get Started With Xhibit?
      .sidebar__item
        +icon("doc", "sidebar__icon")
        a(href="#").sidebar__link What Video Formats Are Supported By Flex BrightSign devices?
      .sidebar__item
        +icon("doc", "sidebar__icon")
        a(href="#").sidebar__link How Do I Setup WiFi Network Connection On My Xhibit Device?
      .sidebar__item
        +icon("doc", "sidebar__icon")
        a(href="#").sidebar__link Should I Use A Wired Connection Or A WiFi Connection For My Xhibit device?
      .sidebar__item
        +icon("doc", "sidebar__icon")
        a(href="#").sidebar__link How Do I Get Started With Xhibit?
