section.ticket-submit
  .container
    .ticket-submit__map
      a.map__item(href="#") My Area /
      a.map__item(href="#") Submit a Ticket /
    h1.ticket-submit__title Submit a ticket
    .ticket-submit__information.information
      h2.ticket-submit__subtitle.information__title Ticket Information
      form.information__ticket
        label.information__item.information__item-select(for="selectProduct") Product
          select.information__pole.information__pole-select#selectProduct
            option Lorem ipsum dolor sit amet
            option amet sit dolor ipsum meroL
        label.information__item(for="deviceName") Device Name
          input.information__pole#deviceName(type="text" placeholder="Lorem ipsum dolor sit amet")
        label.information__item(for="email") Email
          input.information__pole#email(type="email" required placeholder="Lorem ipsum dolor sit amet")
          span.information__pole-error User don’t exzist
        label.information__item(for="contactName") Contact Name
          input.information__pole#contactName(type="text" required placeholder="Lorem ipsum dolor sit amet")
        label.information__item(for="subject") Subject
          input.information__pole#subject(type="text" required placeholder="Lorem ipsum dolor sit amet")
        label.information__item.information__item-area(for="description") Description
          textarea.information__pole.information__pole-area#description(placeholder="Lorem ipsum dolor sit amet")
        label.information__item(for="productName") Product Name
          input.information__pole#productName(type="text" placeholder="Lorem ipsum dolor sit amet")
        h2.ticket-submit__subtitle Additional Information
        label.information__item(for="priority") Priority
          input.information__pole#priority(type="text" placeholder="Lorem ipsum dolor sit amet")
        label.information__item.information__item-select(for="selectClassification") Classifications
          select.information__pole.information__pole-select#selectClassification
            option None
            option High
            option Medium
            option Low
        h2.ticket-submit__subtitle Attachments
        .file
          label(for="upload-photo").file__icon
            +icon("upload")
          label(for="upload-photo").information__item.information__item-file Attach a file
            span (Up to 20 MB)
            input#upload-photo(type="file" name="photo")
        .ticket-submit__submit
          input.ticket-submit__btn(type="submit" value="submit")
          a.ticket-submit__link(href="#") Discard
